/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F9FBE7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}*/

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #EECFD4;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.leftb {
  margin-right: 2rem;
  margin-top: 1rem;
}

.rightb {
  margin-left: 2rem;
  margin-top: 1rem;
}

#reset {
  margin-top: .5rem;
  background-color: #FEA1A1 !important;
  border: #FEA1A1 !important;
  color: #ECCDB4;
}

.playButton {
  background-color: #F0EDD4 !important;
  border: #EECFD4 !important;
  color: #ECCDB4 !important;
}

.range::-webkit-slider-runnable-track {
  background: #F0EDD4 !important;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #ECCDB4;
  color: #ECCDB4;
}